# Ignore all installable modules via the adapt cli
# If you are using a non-installable module - exclude only installable.
src/components
src/extensions
src/menu/adapt-contrib-boxMenu
src/theme/adapt-contrib-vanilla

# Include build sp we may serve it on github pages
#build

# Ignore all istallable modules from third parties
bower_components
node_modules
.DS_Store
.idea