# Ignore all installable modules via the adapt cli
src/components/*
src/extensions/*
src/menu/adapt-contrib-boxMenu
src/theme/adapt-contrib-vanilla

# You may want to include non-installable extensions (eg. custom components)
#!src/components/adapt-contrib-accordion

# Include build so we may serve it on github pages
#build

# Ignore all istallable modules from third parties
bower_components
buildkit
node_modules
.DS_Store
.idea