.article-block-slider-enabled {

	// Arrows General
	.has-arrows {
        .block-container {
            height: 100%;

    		.block {
                height: 100%;
                overflow: hidden;

    			.block-inner {
                    height: 100%;
    				padding: 0 70px;

                    .component-container {
                        height: 100%;

                        .component {
                            height: 100%;
                        }
                    }
    			}
    		}
        }
	}

	// // Arrow Buttons
	// .item-button-arrow {
	// 	background-color: @button-color;
	// 	display: block;
	// 	height: (@icon-size*2.5);
	// 	margin-top: -(@icon-size*1.25);
	// 	position: absolute;
	// 	text-decoration: none;
	// 	top: 50%;
	// 	width: (@icon-size*2.5);
	// 	z-index: 10;
    //
	// 	.icon {
	// 		color: @button-text-color;
	// 		font-size: (@icon-size*1.25);
	// 		font-weight: bold;
	// 		margin: (@icon-size/1.5);
	// 	}
    //
	// 	.no-touch &:hover {
	// 		background-color: @button-color-hover;
    //
	// 		.icon {
	// 			color: @button-text-color-hover;
	// 		}
	// 	}
    //
	// 	&[disabled="disabled"] {
	// 		background-color: @button-color-disabled;
	// 		cursor: default;
    //
	// 		.no-touch &:hover {
	// 			background-color: @button-color-disabled;
	// 		}
	// 	}
    //
	// 	&[data-block-slider='left'] {
	// 		left: 0;
	// 	}
    //
	// 	&[data-block-slider='right'] {
	// 		right: 0;
	// 	}
	// }
}
