.filter-menu {
    max-width: none;
    padding: 0;
    margin: 0;
}

.filter-menu-inner {
    background-image: url("../../course/en/images/menu-bg.jpg");
    background-position: right bottom;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: @foreground-color-inverted;
    margin-bottom: @menu-block-body-margin-bottom;
    box-shadow: inset 0 -60px 60px rgba(0,0,0,0.3);
}

.filter-menu-header {
    padding: 140px 0;
}

.filter-menu-header-inner {
    width: 70%;
    margin: auto;

    .size-small & {
        width: auto;
        padding: 70px @item-padding 70px @item-padding;
    }
}

.filter-menu-title {
    .hero-text;
    text-align: center;
    margin-bottom: 1em;
}

.filter-menu-header,
.filter-menu-strips {
    max-width: @device-width-large;
    margin: 0 auto;
}

.filter-menu-item {
    cursor: pointer;

	&.locked {
		filter: none;
		opacity: 1;
	}

    .no-touch &:hover {
        .filter-menu-item-details {
            background-color: @primary-color;
            color: @foreground-color-inverted;

            .filter-menu-item-progress {
                border-color: @foreground-color-inverted;
            }
            .filter-menu-item-progress-inner {
                background: @foreground-color-inverted;;
            }
            .filter-menu-item-pin:before {
        		color: @foreground-color-inverted;
            }
        }
    }

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
}

.filter-menu-strip-top {
    padding: (@item-padding / 2);
    padding-bottom: (@item-padding * 2);
    background-color: transparent;
    border: 1px solid @black;
    border-bottom: none;
    color: @foreground-color;
}

.filter-menu-strip-title {
    .hero-text;
}

.filter-menu-items-background {
    background-color: transparent;
    border: 1px solid @black;
    border-top: none;
    border-right: none;

    &:after {
        content: '';
        display: block;
        border-right: 1px solid @black;
        height: 100%;
        // width: 10%;
        float: right;
        margin-right: 1px;
    }
}

.icon.filter-menu-control {
    top: 50%;
	height: @filter-menu-image-height;
    margin-top: -(@filter-menu-image-height / 2);
	padding: 0 @button-padding;
	filter: alpha(opacity=50);
	background-color: @background-color;
	background-color: fade(@background-color, 50%);
	color: @background-color-inverted;

    // @foreground-color-inverted: @white;
    // @background-color-inverted: @mid-grey;

	.no-touch &:hover {
		filter: alpha(opacity=70);
		background-color: @background-color;
		background-color: fade(@background-color, 70%);
    	color: @background-color-inverted;
	}
}

.filter-menu-item-details {
    background-color: @light-grey;
}

.filter-menu-item-title {
    min-height: 2.4em;
    .title-text;
    font-weight: @title-font-weight-regular;
}

.filter-menu-item-progress {
    width: 14px;
    height: 14px;
    margin-top: 5px;
    float: left;
}

.filter-menu-item-pin {
	float: right;
    padding: 5px 10px;
    margin-right: -10px;

	&:before {
		content: "\e904";
		color: @foreground-color;
        opacity: 0.3;

		input:checked + & {
    		content: "\e904";
		    opacity: 1;
		}
	}
}

@media all and (max-width: (@device-width-small + 20px)) {
    .filter-menu.filter-menu-accordion {

        .filter-menu-strip {
            border: 1px solid @foreground-color;
            margin: (@item-padding / 2);
        }

        .filter-menu-strip-top {
            border: none;
            padding: (@item-padding / 2);
            cursor: pointer;
            position: relative;
        }

        .filter-menu-strip-icon {
            position: absolute;
            top: (@item-padding / 2) + 2;
            left: (@item-padding / 2);
            display: block !important;
        }

        .filter-menu-strip-title {
            padding-left: (@item-padding / 2) + 24;
        }

        .filter-menu-items-background,
        .filter-menu-items-background:after {
            border: none;
        }

        .filter-menu-items-bottom {
            display: none;
        }

        .filter-menu-items {
            width: 100%;
        }

        .filter-menu-item {
            width: 100%;
            float: left;
            clear: both;
            margin-bottom: @item-padding / 2;
        }

        .filter-menu-item-inner {
            padding: 0 @item-padding / 2;
        }
    }
}
