// Additional theme classes or attributes to be applied in JSON for more custom style
// ====================================================================

// Divider block - used to separate content or break up pages.
// =============

// Class applies alternative background color and component styling

.divider-block {
    background-color: @background-color-inverted;
    color: @foreground-color-inverted;
    text-align: center;
    .block-title,
    .block-body,
    .block-instruction,
    .component-title,
    .component-body,
    .component-instruction {
    	color: @foreground-color-inverted;
    	text-align: center;
    }
    .component-inner {
    	background-color: transparent;
    }
}

// Block background color - used to apply variable based background colors on blocks
// ======================

.block {
	&.primary-color {
		background-color: @primary-color;
	}

	&.secondary-color {
		background-color: @secondary-color;
	}

	&.tertiary-color {
		background-color: @tertiary-color;
	}

	&.background-color {
		background-color: @background-color;
	}

	&.background-color-inverted {
		background-color: @background-color-inverted;
		color: @font-color-inverted;
		.component-inner {
			background-color: transparent;
		}
	}
}

// Component background - used to apply variable based background color and padding on components
// ====================

.component-background {
	background-color: @component-background-color;
	padding: @component-padding;
}

// Assessment - remove graphic components for mobile view (when components snap down to single span).
// ==========

.assessment {
	.graphic-component {
		display: block;

		@media all and (max-width: @device-width-medium) {
			display: none;
		}
	}
}

// THIS CLASS IS FOR THE PURPOSE OF THE ADAPT DEMO
// blank component demo - applied at block level to add a background image in place of a blank component
// ====================

// .blank-background {
// 	background-image: url(assets/blank-bg.jpg);
// 	background-repeat: no-repeat;
//     min-height: 80vh;
// 	background-position: center;
//
// 	@media all and (max-width: @device-width-large) {
// 		background-image: url(assets/blank-bg-900.jpg);
// 		background-position: right;
// 	}
//
// 	@media all and (max-width: @device-width-medium) {
// 		background-image: none;
// 	}
// }

// MONASH MODS
// Below are mods for the prototype - need to house them better later
// ====================

.page-header {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-shadow: inset 0 -5px 20px rgba(0,0,0,0.2),
                inset 0 5px 20px rgba(0,0,0,0.2);

    @media all and (max-width: @device-width-small) {
        background-position: right top;
        background-size: cover;
        background-attachment: scroll;
    }
}

.image-background {
    color: @foreground-color-inverted;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 -5px 20px rgba(0,0,0,0.2),
                inset 0 5px 20px rgba(0,0,0,0.2);

    @media all and (max-width: @device-width-small) {
        background-position: right top;
        background-size: cover;
        background-attachment: scroll;
    }

    .component-container {
        background-color: @primary-color-faded;
        color: @primary-color-inverted;
    }

    .block-title,
    .component-title {
        color: @primary-color-inverted;
    }
}

.primary-background {
    background-color: @primary-color;
    color: @foreground-color-inverted;

    .block-title,
    .component-title {
        color: @foreground-color-inverted;
    }
}

.transparent-background {
    background-color: transparent;
}

.white-background {

    .slider-component,
    .confidenceSlider-component {

        .slider-scale-number:hover {
            color: @foreground-color;
        }

        .slider-scaler-wrapper {

            .slider-scaler {
              background-color: @foreground-color;
            }
        }

        .slider-line {
            background-color: @foreground-color;
        }
    }

    .narrative-component .narrative-content {
        color: @foreground-color;
    }

    .narrative-component .narrative-progress {
        border-color: @primary-color;

        &.selected {
            background: @primary-color;
        }
    }
}

blockquote {
    margin-bottom: 1em;

    &:before {
        font-family: 'vanilla';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content:'\e903';
        font-size: @icon-size;
    }

    p {
        font-size: 1.2em;
        padding-left: 20px;
        font-style: italic;
        margin: 10px;
        border-left: 5px solid rgba(255, 255, 255, 0.3);
    }

    footer {
        font-weight: @font-weight-bold;
        margin: 10px;
        padding-left: 25px;

        &:before {
            content: '—';
            margin-right: 10px;
        }
    }
}

// Give the last block on the page more padding
// .article:last-child .block-container .block:last-child .block-inner {
//     padding-bottom: @block-padding-bottom * 2;
// }

.mejs-overlay-button {
    background-image: none !important;
    background: none;
    width: 200px;
    height: 50px;
    margin: -25px 0 0 -100px;
    border: 1px solid @foreground-color-inverted;
    color: @foreground-color-inverted;

    &:before {
        content: 'Play video';
        display: block;
        line-height: 50px;
        text-align: center;
        .hero-text;
    }
}
