<div class="filter-menu-dashboard-navigation">
	<button class="base filter-menu-dashboard-button icon icon-filter" data-event="toggleFilterDashboard" aria-label="{{_globals._menu._filterMenu.openDashboardAria}}"></button>
	<div class="filter-menu-dashboard-notification">
		<span>{{{_globals._menu._filterMenu.filtersNotification}}}</span>
		<button class="base icon icon-cross" data-event="disableFilters" aria-label="{{_globals._menu._filterMenu.disableFiltersAria}}"></button>
	</div>
</div>
